header {
  background-color: var(--header-background-color);
  min-height: 85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/banner/florest.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  filter: saturate(0);
  opacity: 0.2;
}

.header-content {
  max-width: 70rem;
  padding: 8rem 2rem;
  text-align: center;
  z-index: 2;
}

.header-content img {
  width: 80%;
}

.header-content p {
  margin: 3rem 0 5rem;
}

.header-content button {
  border: 3px solid var(--color-title);
  color: var(--color-title);
}

.header-content button:hover {
  background-color: var(--color-title);
  color: var(--color-contrast);
}
