h2,
h3 {
  font: var(--text-regular-h2);
  color: var(--color-title);
  text-transform: uppercase;
  margin-bottom: 4rem;
}

p {
  color: var(--highlight-color);
}

p,
input,
textarea,
label {
  font: var(--text-regular-paragraph)
}

button {
  padding: 1.6rem 3.2rem;
  background-color: transparent;
  font-weight: 900;
  font: var(--text-regular-button-form);
  text-transform: uppercase;
  cursor: pointer;
  transition: background 1s;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--page-background) no-repeat,
    url("../images/backgrounds/florest.png") no-repeat;
  background-size: cover;
  z-index: -1;
}

input,
textarea {
  border: 2px solid var(--color-contrast);
  background-color: var(--color-field-bg);
  color: var(--color-contrast);
  padding: 0.8rem;
}

input,
textarea {
  margin-bottom: 2.4rem;
}

label {
  margin-bottom: 0.8rem;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  border-color: var(--color-border-out);
}


.world-characters {
  width: 100%;
  max-width: 90rem;
  position: absolute;
}

.world-characters#top-characters {
  height: 100%;
  background-color: var(--character-top-image-color);
  bottom: -0.3rem;

  mask: var(--character-top-image-src) bottom / contain no-repeat;
  -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.world-characters#bottom-characters {
  height: 44rem;
  background-color: var(--character-bottom-image-color);
  top: 0.3rem;
  transform: rotateZ(180deg) scaleX(-1);
  position: relative;
  z-index: 10;

  mask: var(--character-bottom-image-src) bottom / contain no-repeat;
  -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
}



section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.5rem;
  position: relative;
  z-index: 5;
}

/* Section 01 - Inverted World */

.container {
  max-width: 120rem;
}

#section-inverted-world {
  align-items: center;
}

#section-inverted-world .section-texts {
  width: 50%;
}

#section-inverted-world .section-texts h2 {
  max-width: 30rem;
}

/* Section 02 - Stranger Things Trailer */

#section-stranger-things-trailer .section-texts {
  width: 50%;
  text-align: right;
}

#section-stranger-things-trailer .section-texts h2 {
  max-width: 42.5rem;
  display: inline-block;
}

#section-stranger-things-trailer .video-frame {
  background-color: var(--color-title);
}

#section-stranger-things-trailer .video-frame iframe {
  position: relative;
  bottom: 2.4rem;
  left: 2.4rem;
  border: 2px solid;
  border-image: linear-gradient(
    var(--color-title),
    var(--color-contrast)
  );
  border-image-slice: 10;
}

/* Section 03 - Stranger Things Gallery */

#section-stranger-things-gallery {
  width: 100%;
  background: var(--background-lamp-image) 120% / 50% no-repeat;
  justify-content: center;
}

#section-stranger-things-gallery .container {
  width: 100%;
}

#section-stranger-things-gallery .container h2 {
  width: 80rem;
}

#section-stranger-things-gallery .gallery-container {
  display: flex;
  gap: 5rem;
  padding-left: 2rem;
}

#section-stranger-things-gallery .gallery-image {
  width: 25rem;
  height: 25rem;
  outline: 20px solid var(--highlight-color);
  border: 3px solid var(--color-title);
  box-sizing: initial;
}

#section-stranger-things-gallery .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid var(--highlight-color);
}

/* Section 04 - Dungeons & Dragons Form */

#section-form {
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
}

#section-form h2 {
  width: 60rem;
}

#section-form .form-content h3 {
  color: var(--highlight-color);
}

#section-form .form-content h3 span {
  color: var(--color-title);
}

#section-form .form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-form .form-content h3 {
  flex-basis: 30%;
  text-align: left;
  margin: 0;
}

#section-form .form-container {
  flex-basis: 50%;
  position: relative;
}

#section-form .form-container::after {
  content: "";
  background-color: var(--highlight-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  z-index: -1;
}

#section-form .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
  background-color: var(--color-title);
  color: var(--color-contrast);
  text-align: left;
}

#section-form .form-container form :is(input, textarea) {
  border: 2px solid var(--color-contrast);
  background-color: var(--color-paragraph);
  color: var(--color-contrast);
  padding: 1.6rem;
}

#section-form .form-container form button {
  border: none;
  background-color: var(--color-paragraph);
  color: var(--color-contrast);
  max-width: 30rem;
  align-self: center;
}

#section-form .form-container form button:hover {
  background-color: var(--color-contrast);
  color: var(--color-paragraph);
}

